{% extends "layout.jinja2" %}

{% block content %}
<div class="full-width-container">
<div class="container">
<h1>Welcome to Quick Trivia!</h1>
<div class="begin-btn">Begin</div>
</div>
</div>
{% endblock content %}
